---
import Link from "../components/Link.astro";

import "../styles/global.css"

// Sets a default in case no title was passed as props.
const { title = "Astro" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav>
      <Link href="https://github.com/">GitHub</Link>

      <Link href="https://www.google.com/">Google</Link>
    </nav>

    <!-- slot indicates the content in between this imported layout (see index.astro) -->
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
