---
// This is an example of a dynamic page in Server (SSR) mode which are not built ahead of time.

// This has to be set to false because it is on the server side (see astro.config.mjs' defineConfig's adapter to ensure one exists, and output to confirm if it is set to static).
export const prerender = false;

const pages = [
  {
    slug: undefined,
    title: "A dynamic page in server mode",
    text: "You can view me at http://localhost:4321/server",
  },
  {
    slug: "nested",
    title: "A nested dynamic page in server mode",
    text: "You can view me at http://localhost:4321/server/nested",
  },
  {
    slug: "nested/again",
    title: "A more nested dynamic page in server mode",
    text: "You can view me at http://localhost:4321/server/nested/again",
  },
];

const { slug } = Astro.props;
const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, text } = page;
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>{text}</p>
  </body>
</html>
